@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<CloudPOE2.Models.Order>

<a href="@Url.Action("Register", "Order")" class="btn btn-primary">Add New Order</a>

<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product ID</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Customer_ID</td>
                <td>@order.Product_ID</td>
                 <td>@order.Order_Date</td>
            </tr>
        }
    </tbody>
</table>
