@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CloudPOE2.Models.Product

@* Creating a new heading *@
<h2>Add a new Product</h2>

<form asp-action="AddProduct" method="post" enctype="multipart/form-data">

    @*Getting the name for the product*@

    <div>
        <label>Name</label>
        <input type="text" name="Product_Name" required />
    </div>

    @*Getting the name for the Description*@

    <div>
        <label>Description</label>
        <textarea name="Description"></textarea>
    </div>

    @*Getting the name for the file*@

    <div>
        <label>Image</label>
        <input type="file" name="file" required />
    </div>

    @*Getting the name for the category*@

    <div>
        <label>Category</label>
        <textarea name="Category"></textarea>
    </div>

    @*Getting the name for the category*@

    <div>
        <label>Price</label>
        <textarea name="Price"></textarea>
    </div>

    <button type="submit">Add Product</button>


</form>
